.all-screens{
    display: flex;
    flex-direction: column;
}


.screen{
display: flex;
flex-direction: inherit;
}

.screen-header{
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    background-color: rgb(231, 230, 229);
}

.screen-item{
    border-radius: 10px;
    margin-top: 10px;
    place-items: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(231, 230, 229);
}

.screen-id > img{
    width: 15%;
    margin-right: 1em;
}

.play-ad{
background-color: black;
color: white;
padding: 15px;
border-radius: 25px;
}

.play-ad:hover{
    cursor: pointer;
    background-color: goldenrod;

    color: black;
}
.screen-id{
    display: flex;
    width: 14%;
}

.screen-item:hover{
    cursor: pointer;
    background-color: rgb(221, 219, 218);

}