.all-videos{
    height: 100vh;
    width: 100%;
    /* background-color: aqua; */
}

.welcome-text{

}

.pop_lay{
    text-align: center;
}
.main-pop{
    background-color: rgba(58, 60, 60, 0.318);
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
}
.popup{
    height: 400px;
    width: 50%;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    place-self: center;
    top: 25%;
    right: 25%;
}
.popup-header{
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 15px;
    border-bottom: 2px solid black;
}


.close-pop:hover{
    cursor: pointer;
    color: red;
}