.login-page{
    display: flex;
    width: 100%;
}

.sir-dixon{
    background-image: url("../media//login_img.jpg");
    /* background-color: aquamarine; */
    width: 70%;

}

.login-form{
    width: 30%;
}

@media only screen and (max-width: 900px) {

    .login-page {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .login-form {
        width: 100% !important;
    }

}