.vd-item{
    display: flex;
    margin-top: -20px;
    border-radius: 10px;

}

.vd-tem-holder{
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    width: 100%;

}